.container
  h2 Servers
  .row
    .span5
      .well
        form.form-horizontal.add-server-form
          legend Add Server
          .form-status
          .control-group
            label.control-label(for='type') ServerType:
            .controls
              select.selectpicker.server-type-selector(name='type')
                option(value='rsync') Rsync
                option(value='ftp') Ftp
          .subform-container
            include provider/rsync/addForm
    .span7
      .well
        p Add this pubkey to your authorized_keys file:
        textarea(rows='10', style='width: 100%; word-wrap: break-word')= pubkey

  .servers-list
    include servers-list
