.container
  h2 Servers
  .row-fluid
    .span12
      .well
        form.form-horizontal.add-server-form
          legend Add Server
          .form-status
          .control-group
            label.control-label(for='type') ServerType:
            .controls
              select.selectpicker.server-type-selector(name='type')
                option(value='rsync') Rsync
                option(value='ftp') Ftp
          .subform-container
            include provider/rsync/addForm

  .servers-list
    include servers-list
