module.exports = {
    cookieSecret: 'soosecret',
    cookieName: 'rsyncCopyManager',
    port: 3000,
    uid: 'exi',
    pubkeyfile: __dirname + '/keys/key.pub',
    keyfile: __dirname + '/keys/key',
    fs_check_interval: 60 * 24, //24 hours
    download_retry_interval: 5, //5 minutes
    downloadDir: __dirname + '/download/',
    defaultUser: {
        name: 'admin',
        password: 'admin'
    },
    defaultCategory: {
        name: 'Default',
        destination: __dirname + '/download'
    },
    pathmapperCacheSize: 10000,
    rsync: {
        maxDepth: 6
    },
    db: {
        name: 'rsyncCopyManager',
        user: 'root',
        password: 'root',
        host: 'localhost'
    }
};
