.modal-header
  button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
  h3 Delete?
.modal-body
  p Do you want to delete the download? This will delete the downloaded files.
  p #{path}
.modal-footer
  button.btn(data-dismiss="modal", aria-hidden="true") No
  button.btn.btn-primary.download-delete-confirm(data-dismiss="modal", data-download-id="#{id}") Yes
