.modal-header
  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
  h3 Delete?
.modal-body
  p Do you want to delete the download? This will delete the downloaded files.
  p #{path}
.modal-footer.download-delete-confirm(data-id='#{id}')
  label.checkbox.pull-left
    input.download-delete-data(type='checkbox', checked=(complete ? null : 'checked'))
    p Delete data?
  button.btn(data-dismiss='modal', aria-hidden='true') No
  button.btn.btn-primary.download-delete-confirm-button(data-dismiss='modal') Yes
