.container
  h2 Filelist

  #filelistModal.modal.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')

  form.form-search.filelist-form-search
    input.input-medium.search-query.filelist-search(type='text', placeholder='Search')

  .filelist-tree.jqueryFileTree
