extends layout

block header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href="#") rsyncCopyManager
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .nav-collapse.collapse
          ul.nav
            li
              a.menu-downloads-link(href="#Downloads", data-toggle="collapse", data-target=".nav-collapse") Downloads
            li
              a.menu-filelist-link(href="#Filelist", data-toggle="collapse", data-target=".nav-collapse") Filelist
            li
              a.menu-servers-link(href="#Servers", data-toggle="collapse", data-target=".nav-collapse") Your Servers
            li
              a.menu-settings-link(href="#Settings", data-toggle="collapse", data-target=".nav-collapse") Settings
            li
              a(href="/logout") Logout
            li
              a.space-left

block content
  .loading-screen(style="display: none;")
  #mainContainer.container
