!!!5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='/javascripts/boot.js', type='text/javascript', src='/lib/require.js')
  body
    block header
    block content
    block footer
