!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='/javascripts/boot.js', type='text/javascript', src='/javascripts/lib/require.js')
  body
    block header
    block content
    block footer
