extends layout

block content
  .container
    form.form-signin(method='POST', action='/login')
      h2 Login
      - if (error != '')
        .alert= error
      input.input-block-level.login-username(type='text', name='user', placeholder='Username')
      input.input-block-level(type='password', name='password', placeholder='Password')
      button.btn.btn-large.btn-primary(type='submit') Login
