if (servers.length > 0)
  table.table
    thead
      tr
        th Host
        th User
        th Path
        th
    tbody
      each server in servers
        tr
          td= server.hostname
          td= server.username
          td= server.path
          td
            button.btn.btn-danger.server-delete-button(type="submit", data-server-id="#{server.id}") Delete
else
  p You did not add any servers yet.
