.container
  h2 Settings
  p
    strong Hello #{user.name}

  .row
    .span5
      .well
        include settings-user-passwordform
    .span5
      .well
        include settings-user-addform

  .user-list
    include settings-userlist
