.container
  h2 Settings
  p
    strong Hello #{user.name}

  .row
    .span5
      .well
        include settings-user-passwordform
      .well
        include settings-category-addform
    .span5
      .well
        include settings-user-addform

  .category-list
    include settings-categorylist

  .user-list
    include settings-userlist
