form.form-horizontal.change-password-form(data-user-id="#{user.id}")
  legend Change Password
  .form-status
  .control-group
    label.control-label(for="password") Password:
    .controls
      input(type="password", name="password", placeholder="Password")
  .control-group
    label.control-label(for="passwordRepeat") Password(repeat):
    .controls
      input(type="password", name="passwordRepeat", placeholder="Password")
  .control-group
    .controls
      button.btn.btn-primary(href="#") Change Password
