form.form-horizontal.add-category-form
  legend Add Category
  .form-status
  .control-group
    label.control-label(for='categoryname') Name:
    .controls
      input(type='text', name='name', placeholder='Name')
  .control-group
    label.control-label(for='destination') Destination:
    .controls
      input(type='text', name='destination', placeholder='Destination')
  .control-group
    .controls
      button.btn.btn-primary(href='#') Add Category
